service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth!=null;
    }
    match /media/{mediaId}{
    	allow read;
    }
    match /profile_images/{imageId}{
    	allow read;
    }
  }
}
